/*
	begin Common tag
 */
*{
	margin: 0;
	padding: 0;
	font-family: arial, san-serif;
}
header>nav{
	background: #9D0F19;
	min-height: 45px;
}
main{
	background: #FCFBFC;
	display: table;
}
footer{
	min-height: 400px;
	background: lightblue;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	color: #000;
}
/*
	end Common tag
 */
/*
	begin common class
 */
.container{
	width: 960px;
	min-height: 30px;
	margin: auto;
}
.clearfix:before, .clearfix:after{
	clear: both;
	content: " ";
	display: table;
}

.new-title-link:hover{
	color: #555;
}

.pad-0-5{
	padding: 0 5px;
}
.pdr-15{
	padding-right: 15px;
}
.col-1{
	width: 8.3333%;
	float: left;
}
.col-2{
	width: 16.6667%;
	float: left;
}
.col-3{
	width: 25%;
	float: left;
}
.col-4{
	width: 33.3333%;
	float: left;
}
.col-5{
	width: 43.6667%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-7{
	width: 58.3333%;
	float: left;
}
.col-8{
	width: 66.6666%;
	float: left;
}
.col-9{
	width: 75%;
	float: left;
}
.col-10{
	width: 83.3333%;
	float: left;
}
.col-11{
	width: 91.6667%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
/*
	end common class
 */
/*
	begin header
 */
.top-menu{
	background: #000;
}
.top-menu ul, .footer-nav ul{
	list-style: none;
	list-style-type: none;
}
.top-menu ul li, .footer-nav ul li{
	float: left;
	padding: 0 10px; 
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
}
.top-menu ul li>a:before{
	content: url('ngoi-sao.png');
	margin-right: 2px;
}
.top-menu ul li>a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: arial, san-serif;
	font-weight: bold;
}
.middle-head{
	background: #EE9B26;
}
.logo{
	background: url('logo.png');
	background-size: cover;
	width: 110px;
	float: left;
	min-height: 100px;
}
.hot-tags{
	width: 690px;
	float: left;
	/*height: 100px;*/
	/*line-height: 100px;*/
	
	color: #fff;
}
.hot-tags>i{
	margin-left: 70px; 
	margin-right: 5px;
}
.hot-tags>i, .hot-tags>ul{
	float: left;
	margin-top: 30px;
}
.hot-tags>ul{
	list-style: none;
	list-style-type: none;

}
.hot-tags>ul>li{
	float: left;
    border: 1px solid #dedede;
    border-radius: 20px;
    padding: 7px 10px;
    margin-right: 10px;
}
.hot-tags>ul>li:hover{
	border-color: #fff;
}
.hot-tags>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.search-btn{
	width: 60px;
	float: right;
	min-height: 100px;
	line-height: 100px;
	color: #fff;
}
#main-menu>ul>li>a{
	text-decoration: none;
	color: #fff;
	height: 45px;
	line-height: 45px;
	padding: 0 5px;
	display: block;
}
#main-menu{
	position: relative;
}
#main-menu>ul{
	list-style: none;
	list-style-type: none;
}
#main-menu>ul>li{
	float: left;
}
#main-menu>ul>li:hover{
	background: #980D17;
}
#main-menu>ul>li:hover>.mega-menu{
	display: block;
}
.mega-menu{
	position: absolute;
	min-height: 500px;
	top: 45px;
	left: 0;
	right: 0;
	background: #fff;
	display: none;
}
.top-ads{
	min-height: 120px;
	background: #dedede;
}
/*
	end header
 */
/*
	begin main
 */
.content, .advertising{
	display: table-cell;
}
.content{
	height: 1500px;
	width: 672px;
	border: 1px solid #000;
}

.major-new>.new-body{
	padding: 0 5px;
}

.minor-new>.new-body{
	padding: 0 7px;
}
.hot-news{
	margin: 20px 0;
}
.trending-content{
	padding: 0 10px;
}
.trending-slide{
	padding-bottom: 20px;
	border-bottom: 2px solid #FF5E34;
}
.new-content{
	padding: 0 5px 0 10px;
}
.new-unit{
	padding: 20px 0;
	border-bottom: 1px solid #000;
}
.spec-title{
    background: url(border-spec.png) repeat-x;
    background-position: 0 19px;
    border-left: 5px solid orange;
}
.spec-title>span{
	background: #fff;
    padding: 0 10px;
}
.spec-content-right{
	border-right: 1px solid #ddd;
	padding-right: 15px;
	margin-top: 15px;
}
.spec-content-left{
	padding-left: 15px;
	margin-top: 15px;
}
.hot-spec{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 15px;
}
.spec-unit{
	margin-bottom: 15px;
}
.spec-unit h4{
	padding-left: 10px;
}
.advertising{
	width: 285px;
	border: 1px solid #000;
}
/*
	end main
 */
/*
	begin footer
 */
.footer-nav{
	background: #e9e9e9;
}
.footer-nav ul li{
	text-transform: capitalize;
	border-right: 2px solid #ccc;
}
.footer-nav ul li:last-child{
	border-right: none;
}
.footer-info{
	margin-top: 30px;
}
.fake-btn{
	background: #FA5D37;
    display: inline-block;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 10px;
    color: #fff;
}
.fake-btn:hover{
	background: #333;
}
.copr-logo{
	width: 30%;
}
