*{
	margin: 0;
	padding: 0;
}
.top-menu{
	min-height: 30px;
	background: #000;
}
.middle-head{
	background: #EE9B26;
	min-height: 100px;
}
header>nav{
	background: #9D0F19;
	min-height: 45px;
}
.container{
	width: 960px;
	min-height: 30px;
	background: #ccc;
	margin: auto;
}