/*
	begin Common tag
 */
*{
	margin: 0;
	padding: 0;
}
header>nav{
	background: #9D0F19;
	min-height: 45px;
}
main{
	background: #FCFBFC;
	display: table;
}
footer{
	min-height: 400px;
	background: lightblue;
}
/*
	end Common tag
 */
/*
	begin common class
 */
.container{
	width: 960px;
	min-height: 30px;
	margin: auto;
}
.clearfix:before, .clearfix:after{
	clear: both;
	content: " ";
	display: table;
}
.col-1{
	width: 8.3333%;
	float: left;
}
.col-2{
	width: 16.6667%;
	float: left;
}
.col-3{
	width: 25%;
	float: left;
}
.col-4{
	width: 33.3333%;
	float: left;
}
.col-5{
	width: 43.6667%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-7{
	width: 58.3333%;
	float: left;
}
.col-8{
	width: 66.6666%;
	float: left;
}
.col-9{
	width: 75%;
	float: left;
}
.col-10{
	width: 83.3333%;
	float: left;
}
.col-11{
	width: 91.6667%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
/*
	end common class
 */
/*
	begin header
 */
.top-menu{
	background: #000;
}
.top-menu ul{
	list-style: none;
	list-style-type: none;
}
.top-menu ul li{
	float: left;
	padding: 0 10px; 
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
}
.top-menu ul li>a:before{
	content: url('ngoi-sao.png');
	margin-right: 2px;
}
.top-menu ul li>a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: arial, san-serif;
	font-weight: bold;
}
.middle-head{
	background: #EE9B26;
}
.logo{
	background: url('logo.png');
	background-size: cover;
	width: 110px;
	float: left;
	min-height: 100px;
}
.hot-tags{
	width: 690px;
	float: left;
	/*height: 100px;*/
	/*line-height: 100px;*/
	
	color: #fff;
}
.hot-tags>i{
	margin-left: 70px; 
	margin-right: 5px;
}
.hot-tags>i, .hot-tags>ul{
	float: left;
	margin-top: 30px;
}
.hot-tags>ul{
	list-style: none;
	list-style-type: none;

}
.hot-tags>ul>li{
	float: left;
    border: 1px solid #dedede;
    border-radius: 20px;
    padding: 7px 10px;
    margin-right: 10px;
}
.hot-tags>ul>li:hover{
	border-color: #fff;
}
.hot-tags>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.search-btn{
	width: 60px;
	float: right;
	min-height: 100px;
	border: 1px solid #000;
}
.top-ads{
	min-height: 120px;
	background: #dedede;
}
/*
	end header
 */
/*
	begin main
 */
.content, .advertising{
	display: table-cell;
}
.content{
	height: 1500px;
	width: 672px;
	border: 1px solid #000;
}

.major-new{
	min-height: 300px;
	background: lightblue;
}
.minor-new{
	min-height: 300px;
	background: lightgreen;
}
.hot-news{
	margin-bottom: 20px;
}
.trending-unit:first-child, .trending-unit:last-child{
	background: aqua;
}
.trending-unit{
	min-height: 200px;
}
.trending-slide{
	padding-bottom: 20px;
	border-bottom: 2px solid #FF5E34;
}
.new-img{
	min-height: 200px;
	background: grey
}
.new-content{
	min-height: 200px;
	background: green;
}
.new-unit{
	padding: 20px 0;
	border-bottom: 1px solid #000;
}


.advertising{
	width: 285px;
	border: 1px solid #000;
}
/*
	end main
 */






